<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljw.blog.mapper.ArticleCategoryRefMapper">
  <resultMap id="BaseResultMap" type="com.ljw.blog.entity.ArticleCategoryRef">
    <id column="article_id" jdbcType="INTEGER" property="articleId" />
    <id column="category_id" jdbcType="INTEGER" property="categoryId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from article_category_ref
    where article_id = #{articleId,jdbcType=INTEGER}
      and category_id = #{categoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ljw.blog.entity.ArticleCategoryRef">
    insert into article_category_ref (article_id, category_id)
    values (#{articleId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select article_id, category_id
    from article_category_ref
  </select>
  <delete id="deleteByArticleId">
    delete from article_category_ref
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
</mapper>