<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljw.blog.mapper.UserMapper">

	<select id="selectUserByUserName" resultType="com.ljw.blog.entity.User">
		select *
		from user
		where user_name = #{userName}
	</select>
	
	<select id="selectUserByUserEmail" resultType="com.ljw.blog.entity.User">
		select *
		from user
		where user_email = #{userEmail}
	</select>
	
	<select id="selectUserByUserId" resultType="com.ljw.blog.entity.User">
		select user.*
		from user
		where user_id = #{userId}
	</select>
	
	<!--待填充-->
	<update id="updateUserByUserName">
		update user
		<set>
		    <if test="userPass!=null">
			    user_pass = #{userPass},
		    </if>
			<if test="userLastLoginTime!=null">
				user_last_login_time=#{userLastLoginTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where user_name=#{userName}
	</update>
	
	<!--Note:insert可以传入的user的成员为null，此时将null insert进去-->
	<insert id="insertUser">
		insert into
		user
		(user_id, user_name, user_pass,
		user_nickname, user_email, user_url,
		user_avatar, user_last_login_ip, user_register_time,
		user_last_login_time, user_status, user_role)
		values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPass,jdbcType=VARCHAR},
		#{userNickname,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{userUrl,jdbcType=VARCHAR},
		#{userAvatar,jdbcType=VARCHAR}, #{userLastLoginIp,jdbcType=VARCHAR}, #{userRegisterTime,jdbcType=TIMESTAMP},
		#{userLastLoginTime,jdbcType=TIMESTAMP}, #{userStatus,jdbcType=INTEGER}, #{userRole,jdbcType=VARCHAR})
	</insert>
  
</mapper>